$light-grey: #EAEDF3;
$dark-blue: #082E4B;
$salmon: #EBD2BD;
$orange: #F5A92F;
$dark-grey: #B1B9C3;
$sky-blue: #CEE5EE;

@font-face {
  font-family: Moon-Light; src: url('Moon Light.otf');
}

@font-face {
  font-family: Moon-Bold; src: url('Moon Bold.otf');
}
