@import "variables";

*, html, .container, body,  {
  background-color: $light-grey;
}

.landing {
  margin-top: 2.8em;
}

.landing img {
  width: 30%;
  left: 50%;
  right: 50%;
  display: block;
  margin: auto;
}

.mission-tag-container {
  margin-top: 1.7em;
  display: flex;
}


.mission-tag, .login {
  justify-content: center;
  display: flex;
}

.mission-tag p {
  font-size: 1.7em;
}

.login-container {
  margin-top:0.2em;
  margin-left:20px;
}

.login form {
  font-size:1.1em;
  display: inline;
}

.form-control {
  display: inline;
}

.login-image {
  position: absolute;
  margin-top: 1.5em;
  right:47%;
  height:12%;
  width: auto;
}

.registration {
  display: block;
  position: absolute;
  right: 42%;
  font-size:0.7em;
  margin: 10px;
}
